
<div class="news_feed">
  <h2>News feed:</h2>
  <div class="post_field">
    <% @following.each do |user| %>
      <% user.posts.each do |post| %>
      <div class="post">
        <b>Author:</b><%= link_to user.name, user_path(user) %><br>
        <div class="title">
          <b>Titile:</b><%= post.title %><br>
        </div>

        <div class="body">
          <b>Body:</b><%= post.body %><br>
          <% if user.posts.where(id: post.id) %>
              <tr>
                <%= button_to "Delete post", post_path(id: post.id), method: :delete %>
                <%= button_to "Create comment", new_post_comment_path(post_id: post.id), method: :get %>
              </tr>
          <% end %>
        </div>
      </div>

      <div class="comment">
          <% post.comments.each do |comment| %>
            <div class="comment_body">
              <ul>
                  <li><b>Comment:</b><%= comment.body %></li>
              </ul>>
            </div>
              <% if post.comments.where(id: comment.id) %>
                <%= button_to "Delete comment", post_comment_path(post_id: post.id, id: comment.id), method: :delete %>
              <% end %>
          <% end %>
        <% end %>
    <% end %>
      </div>
    </div>
</div>


