<div class="news_feed">
  <h2>News feed:</h2>
  <div class="post_field">
    <div class="post">
      <% @following.each do |user| %>
        <% user.posts.each do |post| %>

          <div class="autor">
            <b>Author:</b><%= link_to user.name, user_path(user) %><br>
          </div>

          <div class="post_body">
            <b>Titile: </b><%= post.title %><br>
            <b>Body: </b><%= post.body %><br>

            <div class="more-info-button">
              <%= button_to "Create comment", new_post_comment_path(post_id: post.id), method: :get %>
              <% if user.posts.find_by(id: post.id, user_id: current_user.id) %>
                <tr>
                  <%= button_to "Update post", edit_post_path(id: post.id), method: :get %>
                  <%= button_to "Delete post", post_path(id: post.id), method: :delete %>
                </tr>
              <% end %>
            </div>
          </div>

          <div class="comment">
            <% post.comments.each do |comment| %>
              <div class="comment_body">
                <%=  %>
                <b><%= comment.user.name %>: </b><%= comment.body %>
                <% if post.comments.find_by(id: comment.id, user_id: current_user.id) %>
                    <%= button_to "Delete comment", post_comment_path(post_id: post.id, id: comment.id), method: :delete %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>