<!DOCTYPE html>
<html>
<head>
  <title>Tweet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <body class="<%= controller.controller_name %>">

    <div id="banner">
      <strong>
        <marquee>
          <%= @page_title || "T-W-E-E-T" %>
        </marquee>
      </strong>
    </div>

    <div id="columns">
      <div id="side">
        <div id="user_nav">
          <% if current_user %>
              Logged in as <%= current_user.email %>.
          <% end %>
        </div>

        <div id="user_menu">
            <% if current_user %>
                <%= link_to "Log out", log_out_path %>
                <%= link_to 'Back', users_path %>
                <%= link_to 'Followes', followers_path %>
            <% else %>
                <%= link_to "Sign up", sign_up_path %> or
                <%= link_to "log in", log_in_path %>
            <% end %>
        </div>

        <div align="center">
          <%= image_tag("livetweet.jpg") %>
        </div>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>
    </body>
</html>
